{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "node": true,
    "es2020": true,
    "jest": true
  },
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "printWidth": 100 }],
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "eqeqeq": ["error", "smart"],
    "complexity": ["error", 5],
    "curly": "error",
    "no-throw-literal": "error"
  }
}
