{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "printWidth": 100 }],
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "eqeqeq": ["error", "smart"]
  }
}
